@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>PDF</h2>
        <ul>
            <li><a asp-controller="Report" asp-action="Example1">Example1</a></li>
        </ul>
    </div>
</div>
