@model List<DataEntity>
@{
    ViewData["Title"] = "List Page";
}

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var entity in Model)
    {
        <tr>
            <td><a asp-action="Detail" asp-route-id="@entity.Id">@entity.Id</a></td>
            <td>@entity.Name</td>
            <td>@entity.Type</td>
        </tr>
    }
    </tbody>
</table>
