@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>PDF</h2>
        <ul>
            <li>Sample1</li>
            <li>Sample2</li>
            <li>Sample3</li>
        </ul>
    </div>
</div>
